---
import type { Coordinates } from "./Canvas.astro";

interface Props {
  className?: string;
  coordinates?: Coordinates;
  minSize?: boolean;
  rotate?: number;
  width?: number;
  height?: number;
  locked?: boolean;
  controlPadding?: number;
  debug?: boolean;
}

let {
  className = "",
  coordinates = { x: 0, y: 0 },
  rotate = 0,
  minSize = true,
  width = 0,
  height = 0,
  locked = false,
  controlPadding = 8,
  debug = false,
} = Astro.props;

const options = {
  ...coordinates,
  id: crypto.randomUUID(),
  minSize,
  rotate,
  width,
  height,
  locked,
  controlPadding,
  debug,
};
---

<div
  x-data={`Draggable(${JSON.stringify(options)})`}
  x-bind="main"
  style={`--left: ${coordinates.x}px; --top: ${coordinates.y}px; --rotate: ${rotate}deg; user-drag: none`}
  class={`select-none group draggable ${className}`}
>
  <div
    class="draggable-inner"
    x-bind="inner"
    style="padding: var(--controlPadding"
  >
    <button
      x-bind="handle"
      data-direction="bottom-left"
      class="draggable-handle"></button>
    <button
      x-bind="handle"
      data-direction="bottom-right"
      class="draggable-handle"></button>
    <button x-bind="handle" data-direction="top-left" class="draggable-handle"
    ></button>
    <button x-bind="handle" data-direction="top-right" class="draggable-handle"
    ></button>
    <div
      class="group-hover:opacity-100 draggable-border"
      :class="{'opacity-0': this.selected === false}"
    >
      &nbsp;
    </div>
    <div
      class="inline-block"
      x-ref="content"
      x-bind="content"
      x-resize="size={ x: $width, y: $height}"
    >
      <slot />
    </div>
  </div>
</div>

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data(
      "Draggable",
      ({
        x,
        y,
        id,
        minSize,
        width,
        height,
        locked,
        controlPadding,
        debug,
      }: {
        minSize: boolean;
        x: number;
        y: number;
        id: string;
        width: number;
        height: number;
        locked: boolean;
        controlPadding: number;
        debug: boolean;
      }) => ({
        debug,
        locked,
        minSize,
        draggableId: id,
        hovering: false,
        selected: false,
        zIndex: 0,
        scale: 1,
        controlPadding,
        coordinates: { x: x, y: y },
        size: { x: width, y: height },
        cachedMinSize: { x: 0, y: 0 },
        screenCoordinates: { x: 0, y: 0 },
        updateDraggablesArray() {
          const bounds: [
            TopLeft: [number, number],
            TopRight: [number, number],
            BottomRight: [number, number],
            BottomLeft: [number, number],
          ] = [
            [this.coordinates.x, this.coordinates.y],
            [this.coordinates.x, this.coordinates.y + this.size.y],
            [
              this.coordinates.x + this.size.x,
              this.coordinates.y + this.size.y,
            ],
            [this.coordinates.x, this.coordinates.y + this.size.y],
          ];

          // @ts-ignore
          this.draggables[this.draggableId] = {
            z: this.zIndex,
            id: this.draggableId,
            selected: this.selected,
            width: this.size.x,
            height: this.size.y,
            x: this.coordinates.x,
            y: this.coordinates.y,
            bounds,
          };
        },
        init() {
          if (this.locked) this.selected = true;

          this.$watch("selected", (newSelected, oldSelected) => {
            const allDraggables: { z: number; $el: HTMLElement }[] =
              // @ts-ignore
              this.draggables as const;
            // @ts-ignore
            this.draggables[this.draggableId]["selected"] = true;
            if (newSelected === true && oldSelected === false) {
              console.log("selected change, bump up zIndex");
              let highest = 0;

              for (const value of Object.values(allDraggables)) {
                if (highest <= value.z) {
                  highest = value.z;
                  highest++;
                }
              }

              // @ts-ignore
              this.draggables[this.draggableId]["z"] = highest;
              this.zIndex = highest;
            }
          });

          this.$watch("screen", (newCoords, oldCoords) => {
            console.log("this.screen changed");
            // @ts-ignore
            if (this.selected && this.$data.moving && this.locked === false) {
              window.getSelection()?.removeAllRanges();

              const delta = {
                x: oldCoords.x === -1 ? 0 : newCoords.x - oldCoords.x,
                y: oldCoords.y === -1 ? 0 : newCoords.y - oldCoords.y,
              };

              // @ts-ignore
              if (this.resizing) {
                const direction:
                  | "top-right"
                  | "top-left"
                  | "bottom-right"
                  // @ts-ignore
                  | "bottom-left" = this.resizing;

                console.log("resizing", direction);
                let newSize: { x: number; y: number } = this.size;
                let newCoordinates: { x: number; y: number } = this.coordinates;

                if (direction === "top-right") {
                  newCoordinates = {
                    x: this.coordinates.x,
                    y: this.coordinates.y + delta.y,
                  };
                  newSize = {
                    x: this.size.x + delta.x,
                    y: this.size.y - delta.y,
                  };
                } else if (direction === "top-left") {
                  newCoordinates = {
                    x: this.coordinates.x + delta.x,
                    y: this.coordinates.y + delta.y,
                  };
                  newSize = {
                    x: this.size.x - delta.x,
                    y: this.size.y - delta.y,
                  };
                } else if (direction === "bottom-right") {
                  newSize = {
                    x: this.size.x + delta.x,
                    y: this.size.y + delta.y,
                  };
                } else if (direction === "bottom-left") {
                  newCoordinates = {
                    x: this.coordinates.x + delta.x,
                    y: this.coordinates.y,
                  };

                  newSize = {
                    x: this.size.x - delta.x,
                    y: this.size.y + delta.y,
                  };
                }

                if (
                  this.minSize &&
                  newSize.x >= this.cachedMinSize.x &&
                  newSize.y >= this.cachedMinSize.y
                ) {
                  this.coordinates = newCoordinates;
                  this.size = newSize;

                  console.log(
                    this.size.x,
                    this.cachedMinSize.x,
                    this.size.y,
                    this.cachedMinSize.y
                  );
                  this.scale = Math.min(
                    this.size.x / this.cachedMinSize.x,
                    this.size.y / this.cachedMinSize.y
                  );
                }
              } else {
                console.log(80, delta);
                this.coordinates = {
                  x: this.coordinates.x + delta.x,
                  y: this.coordinates.y + delta.y,
                };
              }
              this.updateDraggablesArray();
            } else if (
              this.selected &&
              // @ts-ignore
              this.$data.moving &&
              this.locked === true
            ) {
              console.log(223);
            }
          });

          this.$watch("size", (size, oldSize) => {
            if (oldSize.y.toFixed(2) !== size.y.toFixed(2)) {
              if (this.debug) {
                console.log(
                  this.draggableId,
                  "size changed from",
                  JSON.stringify(oldSize),
                  "to",
                  JSON.stringify(size)
                );
              }

              if (
                this.minSize &&
                this.cachedMinSize.x === 0 &&
                this.cachedMinSize.y === 0 &&
                this.size.x !== 0 &&
                this.size.y !== 0 &&
                this.$refs.content
              ) {
                if (this.debug) {
                  console.log(
                    this.draggableId,
                    "set min size",
                    JSON.stringify(this.size)
                  );
                }

                this.$refs.content.style.minWidth = `${this.size.x}px`;
                this.$refs.content.style.minHeight = `${this.size.y}px`;
                this.cachedMinSize = { ...this.size };
              }
              this.updateDraggablesArray();
            }
          });

          if (this.$refs.content) {
            if (
              this.minSize &&
              this.cachedMinSize.x === 0 &&
              this.cachedMinSize.y === 0 &&
              this.size.x !== 0 &&
              this.size.y !== 0
            ) {
              if (this.debug) {
                console.log(
                  this.draggableId,
                  "set min size",
                  JSON.stringify(this.size)
                );
              }

              this.$refs.content.style.minWidth = `${this.size.x}px`;
              this.$refs.content.style.minHeight = `${this.size.y}px`;
              this.cachedMinSize = { ...this.size };
            }

            this.updateDraggablesArray();

            // this.size = {
            //   x: this.$refs.content?.getBoundingClientRect().width || 0,
            //   y: this.$refs.content?.getBoundingClientRect().height || 0,
            // };

            // if (this.debug) {
            //   console.log("new size: ", JSON.stringify(this.size));
            // }
          } else {
            if (this.debug) {
              console.log(this.draggableId, "no $refs");
            }
          }
        },
        content: {
          [":style"]() {
            return {
              width: this.size.x > 0 ? `${this.size.x}px` : "auto",
              height: this.size.y > 0 ? `${this.size.y}px` : "auto",
            };
          },
        },
        inner: {
          [":style"]() {
            return {
              width:
                this.size.x > 0
                  ? `${this.size.x + this.controlPadding * 2}px`
                  : "auto",
              height:
                this.size.y > 0
                  ? `${this.size.y + this.controlPadding * 2}px`
                  : "auto",
            };
          },
        },
        main: {
          [":class"](): any {
            return {
              // @ts-ignore
              // "pointer-events-none": this.selected && this.$data.moving,
              "draggable--selected": this.selected,
              "draggable--locked": this.locked,
            };
          },
          [":style"]() {
            return {
              zIndex: this.zIndex,
              "--left": `${this.coordinates.x}px`,
              "--top": `${this.coordinates.y}px`,
              "--width": `${this.size.x}px`,
              "--height": `${this.size.y}px`,
              "--scale": this.scale,
            };
          },
          ["@draggable-cancel.dot.window.passive"]({
            detail,
          }: {
            detail: { areaID: string; draggableID?: string };
          }) {
            if (
              // @ts-ignore
              this.draggableAreaID === detail.areaID &&
              (detail.hasOwnProperty("draggableID") === false ||
                detail.draggableID !== this.draggableId) &&
              this.locked === false
            ) {
              this.selected = false;
            }
          },
          ["@keyup.escape.window.passive"]() {
            if (this.locked == false) {
              this.selected = false;
            }
          },
          ["@mouseenter.passive"]() {
            console.log("Draggable @mouseenter.passive");
            if (!this.locked) {
              this.$dispatch("cursorChange", {
                className: { add: ["cursor--hidden"] },
              });
            } else {
              this.$dispatch("cursorChange", {
                className: { add: ["eyes--empty", "scale-75"] },
              });
            }
          },
          ["@pointerdown"](event: PointerEvent) {
            console.log("Draggable @pointerdown");
            if (event.shiftKey === false && this.selected === false) {
              this.$dispatch("draggable.cancel", {
                // @ts-ignore
                areaID: this.draggableAreaID,
                draggableID: this.draggableId,
              });
            }

            this.selected = true;
            // @ts-ignore
            this.$data.moving = true;
            this.$dispatch("hideOverflow");
            // search for zIndexes of all siblings
            // bump up to the highest
          },
          ["@pointerenter.passive"]() {
            this.hovering = true;
          },
          ["@pointerup.stop"]() {
            console.log("Draggable @pointerup");
            // @ts-ignore
            this.endMove();
            console.log("x:", this.coordinates.x);
            console.log("y:", this.coordinates.y);
          },
          ["@pointerleave.passive"]() {
            this.hovering = false;
            // @ts-ignore
            if (!this.moving) {
              this.$dispatch("cursorChange", {
                className: {
                  remove: ["cursor--hidden", "eyes--empty", "scale-75"],
                },
              });
            }
          },
          ["@touchstart.stop"]() {},
        },
        handle: {
          ["@pointerdown"](event: PointerEvent) {
            // @ts-ignore
            this.resizing = this.$el.getAttribute("data-direction");
            console.log("Draggable Handle @pointerdown");
            console.log(event);
          },
          ["@pointerup"](event: PointerEvent) {
            // @ts-ignore
            this.resizing = false;
            console.log("Draggable Handle @pointerup");
            console.log(event);
          },
        },
      })
    );
  });
</script>

<style define:vars={{ controlPadding: `${controlPadding}px` }}>
  .draggable {
    --handle-size: 12px;
    @apply absolute origin-center top-var-top left-var-left;
    @apply hover:cursor-move font-platform;

    margin: calc(var(--controlPadding) * -1);
    transform: rotate(var(--rotate));

    img,
    a {
      -webkit-user-drag: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply origin-top-left scale-[var(--scale)];
    }

    &.draggable--selected {
      .draggable-handle {
        @apply opacity-100 visible pointer-events-auto;
      }

      .draggable-border {
        @apply opacity-100;
      }
    }

    &.draggable--locked {
      --handle-size: 20px;
      @apply hover:cursor-none;

      .draggable-handle,
      .draggable-border {
        @apply opacity-100 border-2 border-dashed;
      }

      .draggable-handle {
        @apply bg-black;
      }
    }
  }

  .draggable-inner {
    @apply relative;
    padding: var(--controlPadding);
  }

  .draggable-border {
    @apply border opacity-0 absolute w-full h-full border-black top-0 left-0 pointer-events-none;
  }

  .draggable-handle {
    @apply border border-black bg-white;
    @apply absolute z-10 opacity-0 invisible pointer-events-none;
    @apply origin-center scale-150 lg:scale-100;
    width: var(--handle-size);
    height: var(--handle-size);

    &[data-direction="top-right"] {
      top: calc(var(--handle-size) * -0.5);
      right: calc(var(--handle-size) * -0.5);
    }

    &[data-direction="top-left"] {
      top: calc(var(--handle-size) * -0.5);
      left: calc(var(--handle-size) * -0.5);
    }

    &[data-direction="bottom-right"] {
      bottom: calc(var(--handle-size) * -0.5);
      right: calc(var(--handle-size) * -0.5);
    }

    &[data-direction="bottom-left"] {
      bottom: calc(var(--handle-size) * -0.5);
      left: calc(var(--handle-size) * -0.5);
    }
  }
</style>
