---
import Eyes from "@components/Eyes.astro";
import Header from "@components/Header.astro";
import Viewport from "@components/Viewport.astro";
import "../styles/base.css";

interface Props {
  title: string;
  description?: string;
}

const {
  title = "",
  description = "Portfolio site of Alfred Lau aka @signorekai, a UI/UX designer & full-stack developer",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={`https://signorekai.com/og-facebook.png`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://signorekai.com/og-twitter.png"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#000" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/cvj8baw.css" />
    <title>{title}</title>
  </head>
  <body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2GW1VRMN77"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2GW1VRMN77");
    </script>
    <div
      class="fixed z-9999 transition-opacity duration-250 origin-center -translate-x-40 -translate-y-40 opacity-0 pointer-events-none"
      x-bind="cursor"
      x-data="Cursor"
    >
      <Eyes
        watchMobileCanvasMove={false}
        watchEmptyCanvas={true}
        reverse={true}
        className="-translate-x-1/2 -translate-y-1/2 hidden lg:block lg:!w-20 lg:!h-20 text-peach-light"
      />
    </div>
    <Viewport />
    <Header />
    <div
      class="body-wrapper"
      x-data="BodyWrapper"
      x-bind="body"
      x-ref="bodyWrapper"
    >
      <slot />
    </div>
  </body>
</html>

<style>
  .body-wrapper {
    @apply flex-1 overflow-auto overscroll-none overflow-x-hidden;
    scrollbar-width: none;
  }
</style>

<script>
  import type {
    CursorChangeEventEffects,
    CursorFixedEventEffects,
  } from "@components/Canvas.astro";
  import Alpine from "alpinejs";

  if (window.visualViewport) {
    window.visualViewport.addEventListener("resize", () => {
      const height = window.visualViewport?.height || 0;
      document.documentElement.style.setProperty("--dvh", `${height / 100}px`);
    });
  }
  document.addEventListener("alpine:init", () => {
    Alpine.data("BodyWrapper", () => ({
      scrollPosition: 0,
      showOverflow: true,
      body: {
        ["@resize.window"]() {},
        ["@hide-overflow.camel.window.passive"]() {
          this.scrollPosition = this.$refs.bodyWrapper?.scrollTop || 0;
          this.$data.showOverflow = false;
          this.$el.classList.add("lock-scroll");
        },
        ["@show-overflow.camel.window.passive"]() {
          this.showOverflow = true;
          this.$nextTick(() => {
            this.$el.classList.remove("lock-scroll");
            this.$refs.bodyWrapper?.scrollTo(0, this.scrollPosition);
          });
        },
        [":style"]() {
          return {
            "--offset": `-${this.scrollPosition}px`,
          };
        },
      },
    }));

    Alpine.data("Cursor", () => ({
      initialised: true,
      intervalDetails: { start: { x: 0, y: 0 }, end: { x: 0, y: 0 } },
      interval: false,
      init() {
        this.$el.classList.remove("opacity-0");
        setTimeout(() => {
          this.$el.classList.remove("duration-250", "transition-opacity");
          this.$el.classList.add("duration-0", "transition-transform");
        }, 300);
      },
      clearInterval() {
        // @ts-ignore
        clearInterval(this.interval);
        this.interval = false;
        this.intervalDetails = {
          start: { x: 0, y: 0 },
          end: { x: 0, y: 0 },
        };
      },
      cursorPosition: {
        x: document.documentElement.clientWidth / 2 || 0,
        y: document.documentElement.clientHeight / 2 || 0,
      },
      throttledListener: null,
      cursor: {
        ["@mousemove.window.throttle.16ms.passive"](e: MouseEvent) {
          console.log(139);
          if (this.initialised) {
            this.$data.cursorPosition.x = e.clientX;
            this.$data.cursorPosition.y = e.clientY;
          }
        },
        ["@cursor-change.camel.window"]({
          detail,
        }: CustomEvent<CursorChangeEventEffects>) {
          if (this.initialised) {
            if (detail.hasOwnProperty("className")) {
              if (detail.className.hasOwnProperty("toggle")) {
                detail.className.toggle.every((className) => {
                  this.$el.classList.toggle(className);
                  return true;
                });
              }
              if (detail.className.hasOwnProperty("add")) {
                this.$el.classList.add(...detail.className.add);
              }
              if (detail.className.hasOwnProperty("remove")) {
                this.$el.classList.remove(...detail.className.remove);
              }
            }
          }
        },
        ["@cursor-clear-interval.camel.window"]() {
          this.clearInterval();
        },
        ["@cursor-fixed.camel.window"]({
          detail,
        }: CustomEvent<CursorFixedEventEffects>) {
          if (
            this.intervalDetails.end.x !== detail.x &&
            this.intervalDetails.end.y !== detail.y
          ) {
            this.clearInterval();
            this.intervalDetails.start.x = this.cursorPosition.x;
            this.intervalDetails.start.y = this.cursorPosition.y;
            this.intervalDetails.end.x = detail.x;
            this.intervalDetails.end.y = detail.y;

            const duration = 1200;
            const fps = 60;

            const easing = (x: number): number => {
              return 1 - Math.pow(1 - x, 5);
            };

            const animFunc = (step) => {
              if (step <= duration) {
                console.log("animating", step / duration);
                const progress = easing(step / duration);
                const interval = {
                  x:
                    (this.intervalDetails.end.x -
                      this.intervalDetails.start.x) *
                    progress,
                  y:
                    (this.intervalDetails.end.y -
                      this.intervalDetails.start.y) *
                    progress,
                };

                this.cursorPosition.x =
                  this.intervalDetails.start.x + interval.x;
                this.cursorPosition.y =
                  this.intervalDetails.start.y + interval.y;

                // @ts-ignore
                this.interval = setTimeout(
                  animFunc,
                  duration / fps,
                  step + duration / fps
                );
              } else {
                console.log("stop animating", step / duration);
                this.intervalDetails = {
                  start: { x: 0, y: 0 },
                  end: { x: 0, y: 0 },
                };
                // @ts-ignore
                clearInterval(this.interval);
                this.interval = false;
              }
            };

            // @ts-ignore
            this.interval = setTimeout(
              animFunc,
              duration / fps,
              duration / fps
            );
          } else {
            console.log(238);
          }
        },
        [":style"]() {
          return {
            "--tw-translate-x": `${this.$data.cursorPosition.x}px`,
            "--tw-translate-y": `${this.$data.cursorPosition.y}px`,
          };
        },
      },
    }));
  });
</script>
